<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<title>NinjaFund: A Lanser Yaker Tech-Demo</title>
		<link rel="stylesheet" href="/assets/common.css" type="text/css" />
	</head>
	<body>
		<!-- Error info area -->
		<div class="wrapper">
		    <div class="errorPage">
		        <h2 class="red errorTitle"><span>Something went wrong here</span></h2>
		        <h1>500</h1>
		        <span class="bubbles"></span>
		        <p>Oops! Sorry, an error has occured. Internal Server Error!</p>
		    </div>
		</div>

		<!-- Script loading area -->
		<script type="text/javascript" src="/assets/common.js"></script>
	</body>
</html>
