<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<title>NinjaFund: A Lanser Yaker Tech-Demo</title>
		<link rel="stylesheet" href="/assets/common.css" type="text/css" />
	</head>
	<body>
		<div class="loadingWrapper">
			<div class="loadingLogo"><img src="/images/loginLogo.png" alt="" /></div>
			<div class="loadingSpinner"><img src="/images/loaders/loader7.gif" alt = /></div>
		</div>

		<!-- Application Script Loading -->
		<script type="text/javascript" src="/assets/common.js"></script>	
		<script type="text/javascript" src="/assets/jst.js"></script>	
		<script type="text/javascript" src="/assets/application.js"></script>
		
		<!-- Initialize the application -->	
		<script type="text/javascript" charset="utf-8">
			$().ready(function() {
				// Initialize the master view for the application and the default children.
				window.NF.Master = new window.NF.Views.Master({
					views: {
						'top_nav': new window.NF.Views.Shared.TopNav({
							model: new window.NF.Models.Shared.Profile()
						}),
						'header': new window.NF.Views.Shared.Header(),
						'footer': new window.NF.Views.Shared.Footer()
					}
				});
				
				// Check if the backbone history has been initialized.
				if (Backbone.history) {
					// Subscribe to handle the route event for the backbone history object.
					Backbone.history.on('route', function () {
						// Check if the view has been rendered.
						if ($('body > .loadingWrapper').length) {
							$('body').replaceWith(window.NF.Master.render().el);							
						}
					});
					
					// Retrieve the profile details for the current user.
					window.NF.Master.views['top_nav'].model.fetch({
						success: function () {
							Backbone.history.start({ pushState: true });
						},
						error: function () {
							// TODO: Insert error handling for the client-server connection.
						}
					});	
				}
			});
		</script>
	</body>
</html>