<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<title>NinjaFund: A Lanser Yaker Tech-Demo</title>
		<link rel="stylesheet" href="/assets/common.css" type="text/css" />
	</head>
	<body>
		<!-- Login form area -->
		<div class="loginWrapper">
			<div class="loginLogo"><img src="/images/loginLogo.png" alt="" /></div>
			<% if locals[:error_message] %>
			<!-- Error notification area -->
			<div class="nNote nFailure hideit" style="width: 320px; margin-top: 0;">
                <p><strong>FAILURE: </strong><%= error_message %></p>
            </div>
			<% end %>
			<!-- Login form -->
		    <div class="loginPanel">
		        <div class="head"><h5 class="iUser">Login</h5></div>
		        <form id="valid" class="mainForm" method="post">
		            <fieldset>
		                <div class="loginRow noborder">
		                    <label for="req1">Username:</label>
		                    <div class="loginInput"><input type="text" name="username" class="validate[required]" id="req1" /></div>
		                    <div class="fix"></div>
		                </div>

		                <div class="loginRow">
		                    <label for="req2">Password:</label>
		                    <div class="loginInput"><input type="password" name="password" class="validate[required]" id="req2" /></div>
		                    <div class="fix"></div>
		                </div>

		                <div class="loginRow">
		                    <!-- <div class="rememberMe"><input type="checkbox" id="check2" name="chbox" /><label for="check2">Remember me</label></div> -->
		                    <input type="submit" value="Log me in" class="greyishBtn submitForm" />
		                    <div class="fix"></div>
		                </div>
		            </fieldset>
		        </form>
		    </div>
		</div>
		
		<!-- Script loading -->
		<script type="text/javascript" src="/assets/common.js"></script>
	</body>
</html>