<form id="create-user" class="mainForm">
  <div class="title">
    <h5>Users</h5>
  </div>
  <div class="widget first">
    <div class="head">
      <h5 class="iAdminUser">Create User</h5>
    </div>
    <div class="rowElem noborder pt0 pb0">
      <label class="pb0">Name:</label>
      <div class="formRight mb0">
        <input id="name" type="text" maxlength="128" class="validate[required]" name="name">
      </div>
      <div class="fix"></div>
    </div>
    <div class="rowElem noborder pt0 pb0">
      <label class="pb0">e-Mail:</label>
      <div class="formRight mb0">
        <input id="email" type="text" maxlength="128" class="validate[required,custom[email]]" name="email">
      </div>
      <div class="fix"></div>
    </div>
    <div class="rowElem noborder pt0 pb0">
      <label>Password:</label>
      <div class="formRight">
        <input id="password" type="password" class="validate[required]" name="password">
      </div>
      <div class="fix"></div>
    </div>
    <input id="cancel" type="button" value="Cancel" class="greyishBtn submitForm" />
    <input id="submit" type="button" value="Save" class="greyishBtn submitForm mr0 ml0" />
    <div class="fix"></div>
  </div>  
</form>
